
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1E1919;
  --foreground: #999999;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0A0A0A;
    --foreground: #C0C0C0;
  }
}

body {

  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-color: white;
  
}
